<h1>Oscars Project Home</h1>

<% if logged_in? %>
  <p><strong>You are logged in as <%=h current_user.login %></strong></p>
  <p><%= link_to 'Logout', logout_path%></p>
<% else %>
  <p><strong>Please log in.</strong></p>
  <p>
	<%= link_to 'Login', login_path %>
	<%= link_to 'Sign up', signup_path %>
  </p>
<% end %>