%h1 Editing Nomination

- form_for(@nomination) do |form|
  = render :partial => 'form', :locals => {:form => form}
  %p= form.submit 'Update'

%p
  = link_to 'Show', @nomination
  = link_to 'Back', nominations_path
